<div class="body">
    <form name="signIn">
        <div *ngIf=this.error class="group danger-block">{{this.error}}</div>
        <div *ngIf=this.success class="group success-block">Link for creating a new password successfully sent</div>
        <div class="group">
          <input type="email" 
            name="email" 
            [(ngModel)]="mail"
            autocomplete="off" 
            [class.used]="mail !== '' " 
            #email="ngModel"
            (keyup)="emailValidator(email.value) == false ? emailValid = false : emailValid= true; this.disable=0;
                this.error='';this.success=false"
            ><span class="highlight"></span><span class="bar"></span>
          <label>Email</label>
          <div [hidden]="emailValid || email.pristine || mail === ''" class="alert-danger">Email address is invalid</div>
        </div>
        <button *ngIf="!loading()" type="button" (click)="send()" [disabled]="isSend()" class="button buttonBlue">Send
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
        <div class="loading-block">
            <img *ngIf="loading()" [src]="this.path">
        </div>
    </form>
</div>    